@using Microsoft.AspNetCore.Html
@using CodeMechanic.Extensions
@model CustomAlert

@{
    var alert = Model
        .ToMaybe()
        .IfNone(new CustomAlert()
            .With(my_alert =>
            {
                my_alert.Text = "An Error Occurred...  But fret not! Our team of intelligent lab mice are on the job!";
                my_alert.AlertCssClass = AlertType.Failure;
            }));

    var alert_render = (CustomAlert alert)
        => $"""
            <div class='alert alert-{alert.AlertCssClass.Name}'>
                <p class='text-3xl text-warning text-sh'>
                    {alert.Text}
                </p>
                <span>
                    {alert.Text}
                <span>
            </div>
        """;
}
<div>
    @(new HtmlString(alert_render(alert)))
</div>