@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CodeMechanic.Types
<!DOCTYPE html>
<html data-theme="autumn" lang="en">
<head>
    <base href="~/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TPOT Links</title>

    <script src="https://unpkg.com/htmx.org@1.8.5"
            asp-fallback-src="~/lib/htmx.org/dist/htmx.min.js"
            asp-fallback-test="window.htmx"
            crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/htmx.org/dist/ext/include-vals.js"></script>

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace@2.11.2/cdn/themes/light.css"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace@2.11.2/cdn/shoelace-autoloader.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/xregexp/xregexp-all.js"></script>
    <script src="~/js/animations/hacky_text_animation.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
@* @{ *@
@*     var alpine_modal_options = new AlpineModalOptions() { show_modal = true, show_modal_on_init = true }; *@
@* } *@

<body class='text-tiny bg-base-500'>
<header>

    <!-- <div>

        @* <div class="drawer"> *@
        @*     <div class="drawer-side"> *@
        @*         <label for="my-drawer-3" class="drawer-overlay"></label> *@
        @*         <ul class="menu p-4 w-80 h-full bg-base-200"> *@
        @*      *@
        @*         <template x-for="route of routes"> *@
        @*             <div x-text="route.title"></div> *@
        @*             <div class="mb-3"> *@
        @*                 <label class="form-label" :for="title"></label> *@
        @*                 <a :href="path"></a> *@
        @*             </div> *@
        @*         </template> *@
        @*         </ul> *@
        @*      *@
        @*     </div> *@
        @* *@
        @* </div> *@

    </div> -->


</header>
<main role="main" class="pb-3">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)

</body>

<footer>
    @* modal for errors *@

    @* <template x-if="@alpine_modal_options.show_modal_on_init" x-cloak> *@
    @* *@
    @*     <partial name="_AlpineModal" model="@alpine_modal_options"/> *@
    @* </template> *@
</footer>

<script type='module'>

    // const routes = await (async () => {
    //     let results = await import('./routes.json', {
    //         assert: {
    //             type: 'json'
    //         }
    //     })
    //
    //     return results.default;
    // })()
    //
    // localStorage.setItem('routes', JSON.stringify(routes));

</script>

</html>