@using CodeMechanic.FileSystem
@model TPOT_Links.Models.User

@{
    var user = Model;

    (
         bool avatar_exists
        , string avatar_status
        , string avatar_full_css
        , string avatar_pic
            ) = user.Avatar;

}

<pre x-show="false">
  img:  @avatar_pic
, status: @avatar_status
, classname: @avatar_full_css
, exists: @avatar_exists
</pre>
<div class="@avatar_full_css">
    <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        @if (!@avatar_exists)
        {
            <span class="text-3xl">NP</span>
        }
        else
        {
            <img
                src="@avatar_pic"
                alt="avatar_img">
        }
    </div>
</div>

@* <pre>@avatar_pic</pre> *@