@* tailwindplugins *@
<section class="min-h-screen">


    <h1>Flex test</h1>
    <div class="flex">
        <div class="flex-none ...">
            01
        </div>
        <div class="flex-1 w-64 ...">
            02
        </div>
        <div class="flex-1 w-32 ...">
            03
        </div>
    </div>

</section>

<section class="min-h-screen">
    <button
        class="btn shadow-md shadow-purple-400/50">
        Rubber band man
    </button>
</section>