@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TPOT_Links.Pages.Admin.FeatureRequestModel
@{
    (var Name, var Url,var Description, _) = Model.feature;
}
<div x-data='setup()' class="flex flex-col items-center justify-center gap-0.5">
    <form hx-post
          hx-page="FeatureRequest"
          hx-page-handler="Validate"
          hx-swap="outerHTML"
          class="form-horizontal needs-validation"
          _="on htmx:beforeSend set #submitButton.disabled to 'disabled'">

        <div class="mb-3 flex flex-col">

            <div class="form-control">
                <label
                    asp-for="feature.Name"
                    class="input-group input-group-vertical">
                    <span>Feature</span>
                    <input
                        asp-for="feature.Name"
                        type="text" placeholder="Name of Feature" class="input input-bordered"/>

                    <div class="invalid-feedback">
                        <span asp-validation-for="feature.Name"></span>
                    </div>
                </label>
            </div>

            <div class="form-control">
                <label
                    asp-for="feature.Notes"
                    class="input-group input-group-vertical">
                    <span>Notes</span>
                    <input
                        asp-for="feature.Notes"
                        type="text" placeholder="Notes go here" class="input input-bordered"/>

                    <div class="invalid-feedback">
                        <span asp-validation-for="feature.Notes"></span>
                    </div>
                </label>
            </div>

        </div>

        <div class="control">

            <button
                class='btn-active btn btn-md btn btn-outline-primary float-end'
                x-on:click='btn_width = 4; loading=true'
                :class='bulk_button_class'
                type="submit">
                Submit
            </button>
            @* <button id="submitButton" type="submit" class="btn btn-primary"> *@
            @*     <span class="htmx-indicator"> *@
            @*         <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> *@
            @*         <span class="visually-hidden">Loading...</span> *@
            @*     </span> *@
            @*     Submit *@
            @* </button> *@

            @Html.AntiForgeryToken()
        </div>

    </form>

</div>

<script>
    const categories = [
        'Chinese', 'Faith', 'Catholicism', 'Letters', 'French', 'Proverbs'
    ]

    function setup() {
        return {
            loading: false,
            get bulk_button_class() {
                let is_loading = this.loading ? 'loading' : '';
                return `${is_loading} btn btn-accent w-[${this.btn_width}rem]`;
            }
        }
    }
</script>