@page
@using TPOT_Links.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TPOT_Links.Pages.Comments.IndexModel
@{
}

<div class='flex flex-col' x-data='setup()'>

    <h1>Scriptures</h1>
    <partial name="ScrapeRequestForm" model="new ScrapeRequest()"/>
    <partial name="Scrapes" model="Model"/>
</div>