@page
@model TPOT_Links.Pages.Comments.IndexModel
@{
}

<div class='flex flex-col' x-data='setup()'>

    <h1>Hello, World 2</h1>

    <span x-text='value' />
</div>



<script src="~/js/bundle.js">

    const {XRegexp} = require(XRegexp);
    alert('hiii')
    console.log("running from layout...");

    console.log('XRegexp :>> ', XRegexp);
</script>

<script>
 const {XRegexp} = require(XRegexp);
    alert('hiii')
    console.log("running from layout...");

    console.log('XRegexp :>> ', XRegexp);    function setup() {
        return {
            value: "foo"
        }
    }
</script>