@page
@model TPOT_Links.Pages.Comments.IndexModel
@{
}

<!-- <!DOCTYPE html>
<html lang="en"> -->
  <!-- <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <script type="module" src="/main.js"></script>

    <title>Facebook Comments</title>
  </head> -->
  <div>
    <div x-data="setup()" class="flex flex-col">
      <div x-bind:data-theme="theme" class="flex hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div x-show="options.show_right_panel" width="420" height="746">
            ...
          </div>

          <div>
            <h1 x-text="message" class="text-5xl font-bold"></h1>
            <p class="py-6 text-2xl">
              Below are correspondences on Facebook we've kept copies of with
              people who choose to block us or hide. For their sake, the sake of
              those they interact with, and the for the Truth, we are keeping
              their behavior recorded and exposed.
            </p>

            <b class="py-6 text-2xl">
              To view one, simply click on a record, below. Then, download the
              attachment by clicking on the
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                class="icon"
                style="shape-rendering: geometricprecision"
              >
                <path
                  fill-rule="nonzero"
                  fill="currentColor"
                  d="M8 2C7.86739 2 7.74021 2.05268 7.64645 2.14645C7.55268 2.24021 7.5 2.36739 7.5 2.5V8.29297L5.72852 6.52148C5.63475 6.42774 5.50759 6.37508 5.375 6.37508C5.24241 6.37508 5.11525 6.42774 5.02148 6.52148C4.92774 6.61525 4.87508 6.74241 4.87508 6.875C4.87508 7.00759 4.92774 7.13475 5.02148 7.22852L7.64648 9.85352C7.74024 9.94729 7.8674 9.99998 8 10C8.1326 9.99998 8.25976 9.94729 8.35352 9.85352L10.9785 7.22852C11.0723 7.13475 11.1249 7.00759 11.1249 6.875C11.1249 6.74241 11.0723 6.61525 10.9785 6.52148C10.8848 6.42774 10.7576 6.37508 10.625 6.37508C10.4924 6.37508 10.3652 6.42774 10.2715 6.52148L8.5 8.29297V2.5C8.5 2.36739 8.44732 2.24021 8.35355 2.14645C8.25979 2.05268 8.13261 2 8 2Z M2.5 9C2.36739 9 2.24021 9.05268 2.14645 9.14645C2.05268 9.24021 2 9.36739 2 9.5V13C2.00007 13.5463 2.45357 13.9999 2.99988 14C2.99984 14 2.99992 14 2.99988 14H13C13.5464 14 14 13.5464 14 13V9.5C14 9.36739 13.9473 9.24021 13.8536 9.14645C13.7598 9.05268 13.6326 9 13.5 9C13.3674 9 13.2402 9.05268 13.1464 9.14645C13.0527 9.24021 13 9.36739 13 9.5V13H3.00012L3 9.5C3 9.36739 2.94732 9.24021 2.85355 9.14645C2.75979 9.05268 2.63261 9 2.5 9Z"
                >
                  <path
                    fill-rule="nonzero"
                    fill="currentColor"
                    d="M8 2C7.86739 2 7.74021 2.05268 7.64645 2.14645C7.55268 2.24021 7.5 2.36739 7.5 2.5V8.29297L5.72852 6.52148C5.63475 6.42774 5.50759 6.37508 5.375 6.37508C5.24241 6.37508 5.11525 6.42774 5.02148 6.52148C4.92774 6.61525 4.87508 6.74241 4.87508 6.875C4.87508 7.00759 4.92774 7.13475 5.02148 7.22852L7.64648 9.85352C7.74024 9.94729 7.8674 9.99998 8 10C8.1326 9.99998 8.25976 9.94729 8.35352 9.85352L10.9785 7.22852C11.0723 7.13475 11.1249 7.00759 11.1249 6.875C11.1249 6.74241 11.0723 6.61525 10.9785 6.52148C10.8848 6.42774 10.7576 6.37508 10.625 6.37508C10.4924 6.37508 10.3652 6.42774 10.2715 6.52148L8.5 8.29297V2.5C8.5 2.36739 8.44732 2.24021 8.35355 2.14645C8.25979 2.05268 8.13261 2 8 2Z M2.5 9C2.36739 9 2.24021 9.05268 2.14645 9.14645C2.05268 9.24021 2 9.36739 2 9.5V13C2.00007 13.5463 2.45357 13.9999 2.99988 14C2.99984 14 2.99992 14 2.99988 14H13C13.5464 14 14 13.5464 14 13V9.5C14 9.36739 13.9473 9.24021 13.8536 9.14645C13.7598 9.05268 13.6326 9 13.5 9C13.3674 9 13.2402 9.05268 13.1464 9.14645C13.0527 9.24021 13 9.36739 13 9.5V13H3.00012L3 9.5C3 9.36739 2.94732 9.24021 2.85355 9.14645C2.75979 9.05268 2.63261 9 2.5 9Z"
                  ></path>
                </path>
              </svg>

              Icon.
            </b>

            <a x-show="options.show_right_panel">
              <button class="btn btn-primary">🥔 Go</button>
            </a>

            <a x-show="false">
              <button
                x-on:click="options.show_comments_form=true"
                class="btn btn-primary"
                disabled
              >
                Request Facebook Scrape
              </button>
            </a>

            <!-- <a>
              <button
                x-on:click="options.show_comments=true"
                class="btn btn-primary"                
              >
                See Comments
              </button>
            </a> -->
            <template x-if="options.show_comments_form">
              <div></div>
            </template>

            <template x-if="options.show_comments">
              <div>
                <!-- <iframe
                  class="airtable-embed w-auto h-screen"
                  src="https://airtable.com/embed/shrcEu7hD1TmBFPwN?backgroundColor=purple&viewControls=on"
                  frameborder="0"
                  onmousewheel=""
                  style="background: transparent; border: 1px solid #ccc"
                ></iframe> -->

                <iframe
                  class="airtable-embed w-full h-screen"
                  src="https://airtable.com/embed/shrcEu7hD1TmBFPwN?backgroundColor=purple&layout=card&viewControls=on"
                  frameborder="0"
                  onmousewheel=""
                  style="background: transparent; border: 1px solid #ccc"
                ></iframe>
              </div>
            </template>
          </div>
        </div>

        <div id="options_panel" class="flex flex-col">
          <!-- NOTE: you can use this panel as a way to degug things -->

          <div id="controls" class="glass p-12 rounded-3xl">
            <div class="grid grid-cols-3 gap-1 md:grid-cols-1">
              <template x-for="[key, value] of Object.entries(options)">
                <label class="cursor-pointer label">
                  <span x-text="key" class="label-text"></span>

                  <input
                    x-bind:checked="options[key]"
                    x-on:change="options[key]=!options[key]"
                    type="checkbox"
                    class="toggle toggle-primary"
                  />
                </label>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const regex_patterns = {
      "docker-compose": {
        find: "volumes:.[%5Cs|%5Cn|%5Cr]+((-%5Cs+[%5C-_%5C./a-zA-Z%5Cd:]+)[%5Cs|%5Cn|%5Cr])*",
      },
    };

    function setup() {
      return {
        get message() {
          return "Welcome!";
        },

        options: {
          show_comments: true,
          show_comments_form: false,
        },

        theme: "dark",
      };
    }
  </script>
</html>
