@page
@model ScrapeRequestFormModel
@{

}

<div>
  <div x-data="setup()" class="flex flex-col items-center justify-center">
    <div class="flex flex-center hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="hero glass min-h-screen bg-base-200">
          <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
              <h1 class="text-5xl font-bold" x-text="header"></h1>
              <p class="py-6" x-text="message"></p>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
              <div 
                hx-target="this" 
                hx-swap="outerHTML"
                class="card-body"
              >
                <div 
                 class="form-control"> <label class="label">
                    <span class="label-text">Email</span>
                  </label>
                  <input 
                  type="text" 
                  name='email'
                  placeholder="email" class="input input-bordered" />
                </div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Password</span>
                  </label>
                  <input 
                  
                   name='password'
                  type="text" placeholder="password" class="input input-bordered" />
                  <label class="label">
                    <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                  </label>
                </div>
                <div 
                hx-get='@Url.Page("", "Login")' 
                class="form-control mt-6">
                  <button class="btn btn-primary">Login</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function setup() {
    return {
      message: "msg",
      url: "cocoa nutty",
      header: 'Login now!',
      save_me(args) {
        
        alert(args)
      }
    };
  }
</script>
