@model TPOT_Links.Models.ScrapeOptions
@{
    var scrape_options = Model.AsJS();
}

<section x-data="setup_scrape_options()" class="flex flex-col">
    <div x-cloak>
        <div :class="grid_class">
            <template x-for="[key, value] of Object.entries(options)">
                <div class="mb-3">
                    <label class="form-label" :for="key"></label>
                    <span x-text="key">This is for debugging only and can be omitted</span>
                    <input type="checkbox" class="form-control toggle toggle-accent" :for="key">
                </div>
            </template>
        </div>
    </div>
</section>

<script>
    function setup_scrape_options() {
        options: @scrape_options
    }
</script>