@model List<LogRecord>
@{
    var rows = Model;
}

<div id="splunky_logs">
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th></th>
                <th>Created By</th>
                <th>Modified By</th>
                <th>Exception</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in rows)
            {
                <tr>
                    <th></th>
                    <td>@row.created_by</td>
                    <td>@row.modified_by</td>
                    <td>@row.exception_text</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>