@page
@model TPOT_Links.Pages.Tutorial.HxPostExample
@{

}

<div x-data='setup()'>
   
    <form hx-post='@Url.Page("HxPostExample", "Validate")' hx-swap="outerHTML"
        class="form-horizontal needs-validation" _="on htmx:beforeSend set #submitButton.disabled to 'disabled'">

        <!-- Text input-->
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name">
            <div class="invalid-feedback">
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <!-- Text input-->
        <div class="mb-3">
            <label class="form-label" asp-for="Age"></label>
            <input type="text" class="form-control" asp-for="Age">
            <div class="invalid-feedback">
                <span asp-validation-for="Age"></span>
            </div>
        </div>

        <div class="control">
            <button id="submitButton" type="submit" class="btn btn-primary">
                <span class="htmx-indicator">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                </span>
                Submit
            </button>

            @Html.AntiForgeryToken()
        </div>


         <div class='grid grid-cols-3 grid-rows-auto'>

        <template x-for="[key, value] of Object.entries(options)">
 
            <div class="mb-3">
                <label class="form-label" :asp-for='key'></label>
                <span x-text='key' class="label-text"></span>
                <!-- <span x-text='options[key]' class="label-text"></span> -->

                    <!-- x-on:change="options[key]=!options[key]" -->
                    <!-- @@change="toggle(key, !value)" -->
                <input 
                    :name='key'
                    :asp-for='key'
                    type="checkbox" 
                    class="form-control toggle toggle-primary" 
                    x-bind:checked="options[key]" 
                    @@change='toggle(key)'
                    >
                <div class="invalid-feedback">
                    <span :asp-validation-for='key'></span>
                </div>
            </div>

            <!-- <label class="cursor-pointer label flex-1">
                <span x-text='key' class="label-text"></span>

                <input name='key' type='checkbox' x-bind:checked="options[key]" x-on:change="options[key]=!options[key]"
                    type="checkbox" class="toggle toggle-primary" />
            </label> -->
        </template>
                
    </form>

</div>

<script>
    const categories = [
        'Chinese', 'Faith', 'Catholicism', 'Letters', 'French', 'Proverbs'
    ]

    function setup() {

        

        return {
            title: "Teachings",
            selected_category: "Chinese",
            categories: categories,
            options: {
                show_slugs: true,
                // show_excerpts: true,
                // show_urls: true,
                // case_insensitive: true
            },

             toggle(key = '', value = false) {
                console.log('key :>> ', key);
                // console.log('value :>> ', value);
                this.options[key]=!(this.options[key]);

                console.log(`${key} :>> `, this.options[key]); 
                // console.log('this.options :>> ', this.options);
              
            }
        }
    }
</script>