@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="aa-DetachedContainer aa-DetachedContainer--modal">
<div class="aa-DetachedFormContainer">
    <form class="aa-Form" action="" novalidate="" role="search">
        <div class="aa-InputWrapperPrefix">
            <label class="aa-Label" for="autocomplete-0-input" id="autocomplete-0-label">
                <button class="aa-SubmitButton" type="submit" title="Submit">
                    <svg class="aa-SubmitIcon" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
                        <path d="M16.041 15.856c-0.034 0.026-0.067 0.055-0.099 0.087s-0.060 0.064-0.087 0.099c-1.258 1.213-2.969 1.958-4.855 1.958-1.933 0-3.682-0.782-4.95-2.050s-2.050-3.017-2.050-4.95 0.782-3.682 2.050-4.95 3.017-2.050 4.95-2.050 3.682 0.782 4.95 2.050 2.050 3.017 2.050 4.95c0 1.886-0.745 3.597-1.959 4.856zM21.707 20.293l-3.675-3.675c1.231-1.54 1.968-3.493 1.968-5.618 0-2.485-1.008-4.736-2.636-6.364s-3.879-2.636-6.364-2.636-4.736 1.008-6.364 2.636-2.636 3.879-2.636 6.364 1.008 4.736 2.636 6.364 3.879 2.636 6.364 2.636c2.125 0 4.078-0.737 5.618-1.968l3.675 3.675c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414z"></path>
                    </svg>
                </button>
            </label>
            <div class="aa-LoadingIndicator" hidden="">
                <svg class="aa-LoadingIcon" viewBox="0 0 100 100" width="20" height="20">
                    <circle cx="50" cy="50" fill="none" r="35" stroke="currentColor" stroke-dasharray="164.93361431346415 56.97787143782138" stroke-width="6">
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;90 50 50;180 50 50;360 50 50" keyTimes="0;0.40;0.65;1"></animateTransform>
                    </circle>
                </svg>
            </div>
        </div>
        <div class="aa-InputWrapper">
            <input class="aa-Input stl-pl-2" aria-autocomplete="both" aria-labelledby="autocomplete-0-label" id="autocomplete-0-input" autocomplete="off" autocorrect="off" autocapitalize="off" enterkeyhint="go" spellcheck="false" placeholder="" maxlength="512" type="search" aria-controls="autocomplete-0-list">
        </div>
        <div class="aa-InputWrapperSuffix">
            <button class="aa-ClearButton" type="reset" title="Clear">
                <svg class="aa-ClearIcon" viewBox="0 0 24 24" width="18" height="18" fill="currentColor">
                    <path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
                </svg>
            </button>
        </div>
    </form><button type="button" class="aa-DetachedCancelButton aa:stl-hidden">Cancel</button>
</div>
<div class="aa-Panel">
<div class="aa-PanelLayout aa-Panel--scrollable stl-bg-grey-100 tw-based">
<section class="aa-Source stl-mb-2" data-autocomplete-source-id="instantsearch_helpcenter">
    <div class="aa-SourceHeader stl-m-0">
        <header class="DocSearch-Hit-source stl-px-2">
            <a href="https://support.algolia.com/hc/en-us/search?query=est&amp;utf8=✓">
                See all Help center results for "est"
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right arrow-styles">
                    <line x1="2.5" y1="6" x2="9.5" y2="6"></line><polyline points="6 2.5 9.5 6 6 9.5"></polyline>
                </svg>
            </a>
        </header>
    </div>
    <ul class="aa-List" role="listbox" aria-labelledby="autocomplete-0-label" id="autocomplete-0-list">
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-0" role="option" aria-selected="false">
            <a href="https://algolia.zendesk.com/hc/en-us/articles/4406981943569" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">What do you do about General Data Protection Regulation (GDPR)?</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">
                        SOC2 Type 2) - Done

                        Mapping of security &amp; privacy measures - Done CAIQ

                        Data store mapping - Done

                        <mark>Est</mark>ablishment of DPO - Done

                        Data Processing Addendum (DPA) - Done

                        Storage of customer’s DPO and
                    </p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-1" role="option" aria-selected="false">
            <a href="https://algolia.zendesk.com/hc/en-us/articles/15632498096529" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Why does my query return exhaustiveNbHits=true when I use the param facets=[*] in the query?</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">
                        the index is not scanned entirely so exhaustiveNbHits is set to false and nbHits is <mark>est</mark>imated.
                        &nbsp;
                        When faceting is required, the entire index has to be scanned in order to
                    </p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-2" role="option" aria-selected="false">
            <a href="https://algolia.zendesk.com/hc/en-us/articles/4406981953169" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">What Security Measure does Algolia take?</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">
                        Linux based operating system for the application environment with a centrally managed configuration.
                        Algolia has <mark>est</mark>ablished a policy to keep systems up to date with necessary security updates.

                        Business Continuity
                    </p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
</section>
<section class="aa-Source stl-mb-2" data-autocomplete-source-id="instantsearch_doc">
    <div class="aa-SourceHeader stl-m-0">
        <header class="DocSearch-Hit-source stl-px-2">
            <a href="https://www.algolia.com/doc/?q=est">
                See all Documentation results for "est"
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right arrow-styles">
                    <line x1="2.5" y1="6" x2="9.5" y2="6"></line><polyline points="6 2.5 9.5 6 6 9.5"></polyline>
                </svg>
            </a>
        </header>
    </div>
    <ul class="aa-List" role="listbox" aria-labelledby="autocomplete-0-label" id="autocomplete-0-list">
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-3" role="option" aria-selected="false">
            <a href="https://algolia.com/doc/guides/building-search-ui/ui-and-ux-patterns/facet-dropdown/js/" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Providing mobile support</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">On mobile devices, more than anywhere else, displaying facet refinements over the results is a must-have, considering the limited real <mark>est</mark>ate. Dropdown widgets are a great fit, but you need to tweak the display so they can take advantage of the screen’s width and height.</p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-4" role="option" aria-selected="false">
            <a href="https://algolia.com/doc/guides/building-search-ui/going-further/native/react-hooks/" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Filter with a refinement list in a modal</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">Mobile devices have limited screen real <mark>est</mark>ate. Instead of displaying filters near the list of hits as you would on a desktop website, mobile apps commonly set filters inside a modal. With React Native, you can use the &lt;Modal&gt; component.</p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-5" role="option" aria-selected="false">
            <a href="https://algolia.com/doc/guides/building-search-ui/what-is-instantsearch/ios/" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Use cases</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">These aren’t components in and of themselves, but most components have a connect method. This lets them <mark>est</mark>ablish a connection with other components and lets them react to a change happening in the connected component.</p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-6" role="option" aria-selected="false">
            <a href="https://algolia.com/doc/guides/building-search-ui/ui-and-ux-patterns/filtering-patterns/ios/" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Filtering patterns for InstantSearch iOS</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">Providing filtering options is common in advanced search experiences. However, given mobile screen real <mark>est</mark>ate limitations, it’s hard to include both filters and search results in the same view without the screen getting cluttered. A good filtering experience always gives feedback when the user applies a filter.</p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-7" role="option" aria-selected="false">
            <a href="https://algolia.com/doc/guides/scaling/distributed-search-network-dsn/" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Getting data to the DSN</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">To get an <mark>est</mark>imate of that delay, you need to factor in the network latency between a cluster and its DSN and add the time it takes for the DSN to process the indexing job.</p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
</section>
<section class="aa-Source stl-mb-2" data-autocomplete-source-id="instantsearch_discourse">
    <div class="aa-SourceHeader stl-m-0">
        <header class="DocSearch-Hit-source stl-px-2">
            <a href="https://discourse.algolia.com/search?q=est">
                See all Community results for "est"
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right arrow-styles">
                    <line x1="2.5" y1="6" x2="9.5" y2="6"></line><polyline points="6 2.5 9.5 6 6 9.5"></polyline>
                </svg>
            </a>
        </header>
    </div>
    <ul class="aa-List" role="listbox" aria-labelledby="autocomplete-0-label" id="autocomplete-0-list">
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-8" role="option" aria-selected="false">
            <a href="https://discourse.algolia.com/t/how-to-estimate-which-plan-i-need-based-on-google-site-search-gss-queries/612/1" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">How to <mark>est</mark>imate which plan I need based on Google Site Search (GSS) queries</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">were paying Google for about 1,000,000 queries annually. Is there a way to <mark>est</mark>imate what package we would need based on how many queries we typically use? Can</p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-9" role="option" aria-selected="false">
            <a href="https://discourse.algolia.com/t/vue-instantsearch-for-real-estate/3692/1" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Vue Instantsearch for Real <mark>Est</mark>ate</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">
                        Hi guys,
                        I’m working on sort of React InstantSearch - Tourism for Vue Instantsearch.
                        @@julienbourdeau built some base here GitHub - julienbourdeau/airbnb-like-search but it would require some extra
                    </p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-10" role="option" aria-selected="false">
            <a href="https://discourse.algolia.com/t/how-to-estimate-the-price-of-our-shopify-integration/2559/1" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">How to <mark>est</mark>imate the price of our Shopify integration</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">
                        This is definitely not an easy question to answer because of the multiple criteria coming into play here.
                        Here is a list that should help you be able to plan
                    </p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
        <li class="aa-Item DocSearch-Hit stl-bg-transparent" id="autocomplete-0-item-11" role="option" aria-selected="false">
            <a href="https://discourse.algolia.com/t/waterwatch-and-estuarywatch-victoria/2793/1" class="stl-p-4 stl-no-underline hover:stl-no-underline stl-flex stl-justify-between stl-items-center">
                <div style="width: 95%;">
                    <h4 class="stl-text-grey-900 stl-text-md stl-font-bold stl-mb-1 DocSearch-Hit-title">Waterwatch and <mark>Est</mark>uaryWatch Victoria</h4>
                    <p class="stl-text-grey-600 DocSearch-Hit-title">
                        Two complementary citizen science websites for measuring and observing water quality.
                        www.vic.waterwatch.org.au/search.php
                        www.<mark>est</mark>uarywatch.org.au/search.php
                    </p>
                </div>
                <div class="DocSearch-Hit-action">
                    <svg class="DocSearch-Hit-Select-Icon" width="20" height="20" viewBox="0 0 20 20">
                        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 3v4c0 2-2 4-4 4H2"></path><path d="M8 17l-6-6 6-6"></path>
                        </g>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
</section>
</div>
<footer class="stl-p-4 stl-flex stl-justify-between stl-flex-row-reverse">
    <div class="DocSearch-Logo">
        <a href="https://www.algolia.com" class="stl-no-underline" target="_blank" rel="noopener noreferrer">
            <span class="DocSearch-Label">Search by</span>
            <svg width="77" height="19" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2196.2 500" fill="currentColor" fill-rule="evenodd">
                <path class="cls-2" d="M1070.38,275.3V5.91c0-3.63-3.24-6.39-6.82-5.83l-50.46,7.94c-2.87,.45-4.99,2.93-4.99,5.84l.17,273.22c0,12.92,0,92.7,95.97,95.49,3.33,.1,6.09-2.58,6.09-5.91v-40.78c0-2.96-2.19-5.51-5.12-5.84-34.85-4.01-34.85-47.57-34.85-54.72Z"></path><rect class="cls-1" x="1845.88" y="104.73" width="62.58" height="277.9" rx="5.9" ry="5.9"></rect><path class="cls-2" d="M1851.78,71.38h50.77c3.26,0,5.9-2.64,5.9-5.9V5.9c0-3.62-3.24-6.39-6.82-5.83l-50.77,7.95c-2.87,.45-4.99,2.92-4.99,5.83v51.62c0,3.26,2.64,5.9,5.9,5.9Z"></path><path class="cls-2" d="M1764.03,275.3V5.91c0-3.63-3.24-6.39-6.82-5.83l-50.46,7.94c-2.87,.45-4.99,2.93-4.99,5.84l.17,273.22c0,12.92,0,92.7,95.97,95.49,3.33,.1,6.09-2.58,6.09-5.91v-40.78c0-2.96-2.19-5.51-5.12-5.84-34.85-4.01-34.85-47.57-34.85-54.72Z"></path><path class="cls-2" d="M1631.95,142.72c-11.14-12.25-24.83-21.65-40.78-28.31-15.92-6.53-33.26-9.85-52.07-9.85-18.78,0-36.15,3.17-51.92,9.85-15.59,6.66-29.29,16.05-40.76,28.31-11.47,12.23-20.38,26.87-26.76,44.03-6.38,17.17-9.24,37.37-9.24,58.36,0,20.99,3.19,36.87,9.55,54.21,6.38,17.32,15.14,32.11,26.45,44.36,11.29,12.23,24.83,21.62,40.6,28.46,15.77,6.83,40.12,10.33,52.4,10.48,12.25,0,36.78-3.82,52.7-10.48,15.92-6.68,29.46-16.23,40.78-28.46,11.29-12.25,20.05-27.04,26.25-44.36,6.22-17.34,9.24-33.22,9.24-54.21,0-20.99-3.34-41.19-10.03-58.36-6.38-17.17-15.14-31.8-26.43-44.03Zm-44.43,163.75c-11.47,15.75-27.56,23.7-48.09,23.7-20.55,0-36.63-7.8-48.1-23.7-11.47-15.75-17.21-34.01-17.21-61.2,0-26.89,5.59-49.14,17.06-64.87,11.45-15.75,27.54-23.52,48.07-23.52,20.55,0,36.63,7.78,48.09,23.52,11.47,15.57,17.36,37.98,17.36,64.87,0,27.19-5.72,45.3-17.19,61.2Z"></path><path class="cls-2" d="M894.42,104.73h-49.33c-48.36,0-90.91,25.48-115.75,64.1-14.52,22.58-22.99,49.63-22.99,78.73,0,44.89,20.13,84.92,51.59,111.1,2.93,2.6,6.05,4.98,9.31,7.14,12.86,8.49,28.11,13.47,44.52,13.47,1.23,0,2.46-.03,3.68-.09,.36-.02,.71-.05,1.07-.07,.87-.05,1.75-.11,2.62-.2,.34-.03,.68-.08,1.02-.12,.91-.1,1.82-.21,2.73-.34,.21-.03,.42-.07,.63-.1,32.89-5.07,61.56-30.82,70.9-62.81v57.83c0,3.26,2.64,5.9,5.9,5.9h50.42c3.26,0,5.9-2.64,5.9-5.9V110.63c0-3.26-2.64-5.9-5.9-5.9h-56.32Zm0,206.92c-12.2,10.16-27.97,13.98-44.84,15.12-.16,.01-.33,.03-.49,.04-1.12,.07-2.24,.1-3.36,.1-42.24,0-77.12-35.89-77.12-79.37,0-10.25,1.96-20.01,5.42-28.98,11.22-29.12,38.77-49.74,71.06-49.74h49.33v142.83Z"></path><path class="cls-2" d="M2133.97,104.73h-49.33c-48.36,0-90.91,25.48-115.75,64.1-14.52,22.58-22.99,49.63-22.99,78.73,0,44.89,20.13,84.92,51.59,111.1,2.93,2.6,6.05,4.98,9.31,7.14,12.86,8.49,28.11,13.47,44.52,13.47,1.23,0,2.46-.03,3.68-.09,.36-.02,.71-.05,1.07-.07,.87-.05,1.75-.11,2.62-.2,.34-.03,.68-.08,1.02-.12,.91-.1,1.82-.21,2.73-.34,.21-.03,.42-.07,.63-.1,32.89-5.07,61.56-30.82,70.9-62.81v57.83c0,3.26,2.64,5.9,5.9,5.9h50.42c3.26,0,5.9-2.64,5.9-5.9V110.63c0-3.26-2.64-5.9-5.9-5.9h-56.32Zm0,206.92c-12.2,10.16-27.97,13.98-44.84,15.12-.16,.01-.33,.03-.49,.04-1.12,.07-2.24,.1-3.36,.1-42.24,0-77.12-35.89-77.12-79.37,0-10.25,1.96-20.01,5.42-28.98,11.22-29.12,38.77-49.74,71.06-49.74h49.33v142.83Z"></path><path class="cls-2" d="M1314.05,104.73h-49.33c-48.36,0-90.91,25.48-115.75,64.1-11.79,18.34-19.6,39.64-22.11,62.59-.58,5.3-.88,10.68-.88,16.14s.31,11.15,.93,16.59c4.28,38.09,23.14,71.61,50.66,94.52,2.93,2.6,6.05,4.98,9.31,7.14,12.86,8.49,28.11,13.47,44.52,13.47h0c17.99,0,34.61-5.93,48.16-15.97,16.29-11.58,28.88-28.54,34.48-47.75v50.26h-.11v11.08c0,21.84-5.71,38.27-17.34,49.36-11.61,11.08-31.04,16.63-58.25,16.63-11.12,0-28.79-.59-46.6-2.41-2.83-.29-5.46,1.5-6.27,4.22l-12.78,43.11c-1.02,3.46,1.27,7.02,4.83,7.53,21.52,3.08,42.52,4.68,54.65,4.68,48.91,0,85.16-10.75,108.89-32.21,21.48-19.41,33.15-48.89,35.2-88.52V110.63c0-3.26-2.64-5.9-5.9-5.9h-56.32Zm0,64.1s.65,139.13,0,143.36c-12.08,9.77-27.11,13.59-43.49,14.7-.16,.01-.33,.03-.49,.04-1.12,.07-2.24,.1-3.36,.1-1.32,0-2.63-.03-3.94-.1-40.41-2.11-74.52-37.26-74.52-79.38,0-10.25,1.96-20.01,5.42-28.98,11.22-29.12,38.77-49.74,71.06-49.74h49.33Z"></path><path class="cls-1" d="M249.83,0C113.3,0,2,110.09,.03,246.16c-2,138.19,110.12,252.7,248.33,253.5,42.68,.25,83.79-10.19,120.3-30.03,3.56-1.93,4.11-6.83,1.08-9.51l-23.38-20.72c-4.75-4.21-11.51-5.4-17.36-2.92-25.48,10.84-53.17,16.38-81.71,16.03-111.68-1.37-201.91-94.29-200.13-205.96,1.76-110.26,92-199.41,202.67-199.41h202.69V407.41l-115-102.18c-3.72-3.31-9.42-2.66-12.42,1.31-18.46,24.44-48.53,39.64-81.93,37.34-46.33-3.2-83.87-40.5-87.34-86.81-4.15-55.24,39.63-101.52,94-101.52,49.18,0,89.68,37.85,93.91,85.95,.38,4.28,2.31,8.27,5.52,11.12l29.95,26.55c3.4,3.01,8.79,1.17,9.63-3.3,2.16-11.55,2.92-23.58,2.07-35.92-4.82-70.34-61.8-126.93-132.17-131.26-80.68-4.97-148.13,58.14-150.27,137.25-2.09,77.1,61.08,143.56,138.19,145.26,32.19,.71,62.03-9.41,86.14-26.95l150.26,133.2c6.44,5.71,16.61,1.14,16.61-7.47V9.48C499.66,4.25,495.42,0,490.18,0H249.83Z"></path>
            </svg>
        </a>
    </div>
    <ul class="DocSearch-Commands">
        <li>
            <span class="DocSearch-Commands-Key">
                <svg width="15" height="15">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">
                        <path d="M12 3.53088v3c0 1-1 2-2 2H4M7 11.53088l-3-3 3-3"></path>
                    </g>
                </svg>
            </span><span class="DocSearch-Label">to select</span>
        </li>
        <li>
            <span class="DocSearch-Commands-Key">
                <svg width="15" height="15">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">
                        <path d="M7.5 3.5v8M10.5 8.5l-3 3-3-3"></path>
                    </g>
                </svg>
            </span>
            <span class="DocSearch-Commands-Key">
                <svg width="15" height="15">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">
                        <path d="M7.5 11.5v-8M10.5 6.5l-3-3-3 3"></path>
                    </g>
                </svg>
            </span><span class="DocSearch-Label">to navigate</span>
        </li>
        <li>
            <span class="DocSearch-Commands-Key">
                <svg width="15" height="15">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">
                        <path d="M13.6167 8.936c-.1065.3583-.6883.962-1.4875.962-.7993 0-1.653-.9165-1.653-2.1258v-.5678c0-1.2548.7896-2.1016 1.653-2.1016.8634 0 1.3601.4778 1.4875 1.0724M9 6c-.1352-.4735-.7506-.9219-1.46-.8972-.7092.0246-1.344.57-1.344 1.2166s.4198.8812 1.3445.9805C8.465 7.3992 8.968 7.9337 9 8.5c.032.5663-.454 1.398-1.4595 1.398C6.6593 9.898 6 9 5.963 8.4851m-1.4748.5368c-.2635.5941-.8099.876-1.5443.876s-1.7073-.6248-1.7073-2.204v-.4603c0-1.0416.721-2.131 1.7073-2.131.9864 0 1.6425 1.031 1.5443 2.2492h-2.956"></path>
                    </g>
                </svg>
            </span><span class="DocSearch-Label">to close</span>
        </li>
    </ul>
</footer>
<div class="aa-GradientBottom"></div>
</div>
</div>