@using Microsoft.AspNetCore.Mvc.TagHelpers
<form
    id="bulk_create"
    hx-post
    hx-page="Index"
    hx-page-handler="BulkCreatePapers"
    hx-target="#modals-here"
    hx-swap="innerHTML"
    hx-trigger="submit">

    <div class="form-floating mb-3">
        <input type="text"
               name="Title"
               required class="form-control"
               id="title" 
               placeholder="What is Faith?">

        @* <b>Query Took : @watch.Elapsed</b> *@
        <label for="title">Title of Paper</label>
    </div>

    <button
        class='btn-active btn btn-md btn btn-outline-primary float-end'
        x-on:click='btn_width = 4; loading=true'
        :class='bulk_button_class'
        type="submit">
        Bulk Create
    </button>

</form>