@using Htmx.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CodeMechanic.Diagnostics
@model IList<TPOT_Links.Paper>
@{
    // C# vars go here!
    var tpot_papers = Model as List<Paper>;
    tpot_papers.Dump("papers");
}

@if (tpot_papers.Count > 0)
{
    <tbody class="w-12 border-2 border-amber-500">
    @foreach (var paper in tpot_papers)
    {
        <tr hx-post hx-trigger="change">
            <th class='text-accent'>@paper.Title</th>
            <td class='text-secondary overflow-hidden truncate'>
                <a target='_' href='@paper.Url'>
                    <button
                        class='btn btn-accent'>
                        Read it
                    </button>
                </a>
            </td>
            <td class='text-secondary'>@paper.Excerpt</td>
            <td>
                <select name="runner">
                    <option value="EDIT">Edit</option>
                    <option value="DELETE">Delete</option>
                </select>
            </td>
        </tr>
    }
    </tbody>
}
else if (tpot_papers.Count == 0)
{
    <tr>
        <td colspan="4">No Results</td>
    </tr>
    
   
}