@model IList<TPOT_Links.Models.Paper>
@{
    // C# vars go here!
}

@if (Model is {} tpot_papers)
{
    <tbody class="w-12 border-2 border-amber-500">
    @foreach (var paper in tpot_papers)
    {
        <tr hx-post hx-trigger="change">
            <th class='text-accent'>@paper.Title</th>
            <td class='text-secondary overflow-hidden truncate'>
                <a target='_' href='@paper.Url'>
                    <button
                        data-tippy-content="I'm a tooltip! :D"
                        class='btn btn-accent'>Read it</button>
                </a>
            </td>
            <td class='text-secondary'>@paper.Excerpt</td>
            <td>
                <select name="runner">
                    <option value="EDIT">Edit</option>
                    <option value="DELETE">Delete</option>
                </select>
            </td>
        </tr>
    }
    </tbody>
}
else
{
    <tr>
        <td colspan="4">No Results for "@Model"</td>
    </tr>
}