@page
@model IndexModel
@{
// C# vars go here!
var current_query = Model.Query;
}

<form x-data='setup()'>

    @* <h1 class='glowing text-xl' x-text='title'></h1> *@

    @if (!string.IsNullOrEmpty(@current_query))
    {
    <div class='text-ghost'>
        <label class='text-2xl'>Current Query: </label>
        <div class="mockup-code">
            @current_query
        </div>
    </div>
    }

    <div class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button x-show='false' class='btn-active btn' hx-get='@Url.Page("", "Recommendations")'
                hx-target="#recommendations">
                Get Teaching Recommendations
            </button>

            <div id="recommendations">
                <!-- Recommended papers get injected here -->
            </div>

            <table class="table table-compact w-full">
                <thead>
                    <tr>
                        <th class=''>
                            <input type="text" name="term" id="query" autocomplete="off"
                                hx-get='@Url.Page("Index", "SearchByRegex")' hx-target="#search_results"
                                hx-trigger="keyup changed delay:250ms" hx-indicator="#loading" placeholder="Search"
                                class="input input-bordered input-ghost" aria-label="Username"
                                aria-describedby="search-addon" />

                            <form 
                            action='post'
                             hx-post='@Url.Page("Index", "SetOption")'
                            >

                                <div class='grid grid-cols-3 grid-rows-auto'>

                                    <template x-for="[key, value] of Object.entries(options)">
                                        <label class="cursor-pointer label flex-1">
                                            <span x-text="key" class="label-text"></span>

                                            <input name='key' type='checkbox' x-bind:checked="options[key]"
                                                x-on:change="options[key]=!options[key]" type="checkbox"
                                                class="toggle toggle-primary" />
                                        </label>
                                    </template>
                                </div>


                            <input type=hidden id="word" value='{{word}}'>

                            <button class="btn btn-primary" type="submit"
                                hx-include="#word">Translate your word?</button>

                            </form>


                        </th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Author</th>
                        <th>Categories</th>
                        <th>Excerpt</th>
                    </tr>
                </thead>
                <tbody id='search_results'>
                    <div class="htmx-indicator" id='loading'>loading...</div>
                </tbody>

            </table>
            <div class="htmx-indicator" id='loading'>loading...</div>

        </div>
    </div>
</form>

<script>
    const categories = [
        'Chinese', 'Faith', 'Catholicism', 'Letters', 'French', 'Proverbs'
    ]

    function setup() {
        return {
            title: "Teachings",
            selected_category: "Chinese",
            options: {
                // categories: categories,
                show_slugs: true,
                show_excerpts: true,
                show_urls: true,
                case_insensitive: true
            }
        }
    }
</script>