@page
@model IndexModel
@{
    // C# vars go here!
    var current_query = Model.Query;
}

<form x-data='setup()'>

    @* <h1 class='glowing text-xl' x-text='title'></h1> *@

    @if (!string.IsNullOrEmpty(@current_query))
    {
        <div class='text-ghost'>
            <label class='text-2xl'>Current Query: </label>
            <div class="mockup-code">
                @current_query
            </div>
        </div>
    }

    <div class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button
                x-show='false'
                class='btn-active btn'
                hx-get='@Url.Page("", "Recommendations")'
                hx-target="#recommendations">
                Get Teaching Recommendations
            </button>

            <div id="recommendations">
                <!-- Recommended papers get injected here -->
            </div>

            @* <div class="form-control w-full max-w-xs"> *@
            @*     <label class="label"> *@
            @*         <span class="label-text">What is the name of the paper?</span> *@
            @*         <span class="label-text-alt">Top Right label</span> *@
            @*     </label> *@
            @* </div> *@

            <table class="table table-compact w-full">
                <thead>
                <tr>
                    <th class=''>
                        <input
                            type="text"
                            name="term"
                            id="query"
                            autocomplete="off"
                            hx-get='@Url.Page("Index", "SearchByRegex")'
                            hx-target="#search_results"
                            hx-trigger="keyup changed delay:1ms"
                            hx-indicator="#loading"
                            placeholder="Search"
                            class="input input-bordered input-ghost"
                            aria-label="Username"
                            aria-describedby="search-addon"/>
                    </th>
                </tr>
                <tr>
                    @* <th> *@
                    @*     <label> *@
                    @*         <input type="checkbox" class="checkbox"/> *@
                    @*     </label> *@
                    @* </th> *@
                    <th>Id</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Categories</th>
                    <th>Excerpt</th>
                </tr>
                </thead>
                <tbody id='search_results'>
                <div class="htmx-indicator" id='loading'>loading...</div>
                </tbody>

            </table>
            <div class="htmx-indicator" id='loading'>loading...</div>

        </div>
    </div>
</form>

<script>
    function setup()
    {
        return {
            title: "Teachings"
        }
    }
</script>