@page
@model TPOT_Links.Pages.Sandbox.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
        href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css"
        rel="stylesheet"
        type="text/css"/>
    <link
        href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css"
        rel="stylesheet"
        type="text/css"/>

    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/include-vals.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="js/animations/hacky_text_animation.js"></script>
</head>
<body class="border-0 border-green-400">
<section x-data="setup()" class="flex flex-row">

    <div class="h-screen w-4/6">

        @* <pre x-text="routes"></pre> *@
        <table x-show="true" class="table table-zebra border-0 border-red-700 ">
            <thead>
            <tr>

                <th scope="row" class="col-span-4 border-2">

                    @* <pre x-text="current_partial"></pre> *@
                    <div class="join flex-row flex">
                        <div x-data="{
        message2 : '_PaperList'
}">
                            <div hx-ext="include-vals">

                                       @* hx-vars='js:{partial_name: $card_options.message}' *@
                                       @* hx-include="partial_name: '_PaperList'" *@
                                <input class="input input-bordered join-item"
                                       type="text" name="term" id="query" autocomplete="off"
                                       hx-get
                                       hx-page="Index"
                                       include-vals="partial_name: '_PaperList'"
                                       hx-page-handler="SearchByRegex"
                                       hx-target="#search_results"
                                       hx-swap="innerHTML"
                                       hx-trigger="keyup changed delay:250ms"
                                       hx-indicator="#loading"
                                       class="input input-bordered input-ghost"
                                       aria-label="SEARCH"
                                       :placeholder="search_placeholder"
                                       aria-describedby="search-addon"/>
                            </div>
                        </div>
                        <select class="select select-bordered join-item">
                            <option disabled selected>Category</option>
                            <template x-cloak x-for="cat in categories">
                                <option x-text="cat" :value="cat"></option>
                            </template>
                        </select>
                        <div class="indicator">
                            <span class="indicator-item badge badge-secondary">new</span>
                            <button class="btn join-item rounded-r-full">
                                <h1 x-on:mouseover="hacky_text"
                                    :data-value="search_button_text">
                                    Search
                                </h1>
                            </button>

                            <button x-show="false"
                                    class="btn btn-accent hover:scale-125">
                                <h1 x-on:mouseover="hacky_text" :data-value="search_button_text">
                                    Start Searching
                                </h1>
                            </button>
                        </div>
                        @* <partial name="_CardOptionsPanel"/> *@
                        @* <div class=""></div> *@
                    </div>
                    @*
                    <input type="text" name="term" id="query" autocomplete="off"
                           hx-get
                           hx-page="Index"
                           hx-page-handler="SearchByRegex"
                           hx-target="#search_results"
                           hx-swap="innerHTML"
                           hx-trigger="keyup changed delay:250ms"
                           hx-indicator="#loading"
                           class="input input-bordered input-ghost"
                           aria-label="SEARCH"
                           :placeholder="search_placeholder"
                           aria-describedby="search-addon"/>
                    <div class="htmx-indicator" id='loading'>loading...</div>
                    *@
                    @* <div class="border-2 border-cyan-500"> *@
                    @*     <partial name="_CardOptionsPanel"/> *@
                    @* </div> *@
                    <div class="htmx-indicator" id='loading'>loading...</div>
                </th>

                @* <th x-show="false" *@
                @*     class=""> *@
                @*     <partial name="_CardOptionsPanel"/> *@
                @* </th> *@
            </tr>
            @* <tr> *@
            @*     $1$ <th>Id</th> #1# *@
            @*     <th>Title</th> *@
            @*     <th>Link</th> *@
            @*     <th>Excerpt</th> *@
            @*     $1$ <th>Content</th> #1# *@
            @*     $1$ <th>Status</th> #1# *@
            @*     $1$ <th>Author</th> #1# *@
            @*     $1$ <th>Categories</th> #1# *@
            @* </tr> *@
            </thead>
            <tbody id='search_results'>
            </tbody>

        </table>
    </div>

    <div class="w-2/6 hero bg-base-200 border-2 border-accent">
        <div class="hero-content lg:flex-row-reverse">
            <partial name="_CardOptionsPanel"/>
        </div>
    </div>

</section>
</body>
<script>
    function setup() {
      return {
        message: '_PaperList',
        search_placeholder: "E.g.: 'What is Faith?'",
        search_button_text: "Search for Papers",
        card_options: {
            case_insensitive: true,
            ignore_whitespace: false,
            ignore_special_characters: false,
            dev_mode: false            
        },
        categories: [
            'Faith',
            'Obedience',
            'Israel',
            'Sin',
            'Religion',
            'Tithes & Offerings',
        ],
        apply_tippies(){    
            console.log('dippy tippy')
            tippy('[data-tippy-content]'); 
            tippy(document.querySelectorAll('.button'));
            tippy(document.querySelectorAll('.btn'));
        }
      }; 
    }
  </script>

</html>