@page
@using TPOT_Links.Pages.Sandbox
@model IndexModel
@{
  // C# vars go here!
}

<form x-data='setup()'>

    <h1 class='glowing text-xl' x-text='title'></h1>

    <div class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button
                x-show='false'
                class='btn-active btn'
                hx-get='@Url.Page("","Recommendations")'
                hx-target="#recommendations"
                >Get Teaching Recommendations</button>

            <div id="recommendations">
            </div>


        <input 
            type="text"
            name="term"
            id="query"
            autocomplete="off"
            hx-get='@Url.Page("Index", "SearchByTitle")'
            hx-target="#search_results"
            hx-trigger="keyup changed delay:250ms"
            hx-indicator="#loading"
            placeholder="Search"
            class="form-control"
            aria-label="Username"
            aria-describedby="search-addon" />

            <div id="search_results">
            </div>

            <div class="htmx-indicator" id='loading'>loading...</div>

        </div>
    </div>
</form>

<script>
    function setup()
    {
        return {
            title: "Teachings"
        }
    }
</script>