@page 
@model IndexModel 
@{
     // C# vars go here! 
}

<div x-data='setup()'>
    <form asp-action="post">
        <div class="card p-5 mb-4 text-ocean-500">
            <div x-data="{ open: false }">
                <button @@click="open = true">Expand</button>

                <span x-show="open"> Content... </span>
            </div>

            <pre>
                <span x-text='foo'>1</span>
            </pre>

            <div class="d-flex justify-content-between">
                <button class="btn-active btn" hx-get='@Url.Page("","Recommendations")' hx-target="#recommendations">
                    Get Paper Recommendations
                </button>

                <div id="recommendations"></div>
            </div>
        </div>
    </form>
</div>

<script>
    function setup() {
        return {
            foo: "bar",
        };
    }
</script>