@page
@using TPOT_Links.Pages.Sandbox
@model IndexModel
@{
  // C# vars go here!
}

<form x-data='setup()' asp-action="post">

    <h1 class='glowing text-8xl' x-text='title'></h1>

    <div class="card p-5 mb-4 text-ocean-500">
        <div class="d-flex justify-content-between">

            <button
                class='btn-active btn'
                hx-get='@Url.Page("","Recommendations")'
                hx-target="#recommendations"
                >Get Teaching Recommendations</button>

            <div id="recommendations">
            </div>

         <button
                class='btn-active btn'
                hx-get='@Url.Page("","SearchByTitle")'
                hx-target="#search_results"
                >Search by Term</button>
           

           <div id="search_results">
            </div>

        </div>
    </div>
</form>

<script>
    function setup()
    {
        return {
            title: "Teachings"
        }
    }
</script>