@model TPOT_Links.Models.Paper

@{
    var paper = Model;
}

<div class="card w-96 bg-ghost border-2 border-accent">
    <div class="card-body text-secondary">
        <h2 class="card-title text-primary">@paper.Title</h2>
        <p>@paper.Description</p>
        <div class="card-actions justify-end flex flex-col">
            <partial name="_LikePaper"/>
        </div>
    </div>
</div>