@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TPOT_Links.Paper

@{
    var paper = Model;
}

<option>
    <span>
        <b>@paper.Title</b>
        <button class="btn btn-circle">
            <svg>?</svg>
        </button>
    </span>
</option>